<div class="">
    <h1 class="my-4 text-capitalize"> Signup as a new member</h1>
    <%= form_with model: @user, local:true do |f| %>
        <div class="mb-3">
            <%= f.label :name, class:"form-label" %>
            <%= f.text_field :name, class:'form-control' %>
            <% @user.errors.full_messages_for(:name).each do |msg| %>
                <div class="text-danger fw-light"><%= msg %></div>
            <% end %>
        </div>
        <div class="mb-3">
            <%= f.label :email, class:"form-label" %>
            <%= f.email_field :email, class:'form-control' %>
            <% @user.errors.full_messages_for(:email).each do |msg| %>
                <div class="text-danger fw-light"><%= msg %></div>
            <% end %>
        </div>
        <div class="mb-3">
            <%= f.label :password, class:"form-label" %>
            <%= f.text_field :password, class:'form-control' %>
            <% @user.errors.full_messages_for(:password).each do |msg| %>
                <div class="text-danger fw-light"><%= msg %></div>
            <% end %>
        </div>
        <div class="mb-3">
            <%= f.label :password_confirmation, class:"form-label" %>
            <%= f.text_field :password_confirmation, class:'form-control' %>
            <% @user.errors.full_messages_for(:password_confrimation).each do |msg| %>
                <div class="text-danger fw-light"><%= msg %></div>
            <% end %>
        </div>
        <div class="mb-3 d-flex justify-content-between align-items-center"><%= f.submit class:'btn btn-primary' %> <%= link_to 'login instead', login_path, class:'link text-decoration-none' %></div>
    <% end %>
</div>