<div class="">
    <h1 class="my-4 text-capitalize">Create Post</h1>
    <%= form_with model:@post, local:true do |f| %>
        <div class="mb-3">
            <%= f.label :title, class:"form-label" %>
            <%= f.text_field :title, class:'form-control' %>
            <% @post.errors.full_messages_for(:title).each do |msg| %>
                <div class="text-danger fw-light"><%= msg %></div>
            <% end %>
        </div>
        <div class="mb-3">
            <%= f.label :body, class:"form-label" %>
            <%= f.rich_text_area :body, class:'form-control' %>              
            <% @post.errors.full_messages_for(:body).each do |msg| %>
                <div class="text-danger fw-light"><%= msg %></div>
            <% end %>
        </div>
        <div class="mb-3 d-flex justify-content-between align-items-center"><%= f.submit class:'btn btn-primary' %></div>
    <% end %>
</div>